<div class="callout">
    <div class="img hide-on-phone" style="background-image: url('./images/uploads/team/didi/dietrich-rordorf-ditoy-thum.jpg');" aria-label="Dietrich Rordorf"></div>
    <h2>Haben Sie Fragen?</h2>
    <p>
        Gerne beantworten wir Ihre Fragen persönlich.
    </p>
    <p>
        <a href="tel:41443614055" rel="noopener" class="nowrap">
            +41 44 361 40 55
        </a>
    </p>
    <p>
        <a href="./request/" class="btn">
            Anfrage senden
        </a>
    </p>
    <div class="clear"></div>
</div>