<div class="clear"></div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <strong>3dimensional AG</strong><br/>

                Innenarchitektur, Gestaltung, Kommunikation<br/>
                Oberwiesenstrasse 4<br/>
                CH-8304 Wallisellen
            </div>
            <div class="col-4">
                Tel +41 44 422 44 66<br/>
                Fax +41 44 422 44 14<br/>
                info@3dimensional.ch<br/>
            </div>
            <div class="col-4">
                Mo-Fr 8.00h-17.00h<br/>
                Unsere Werkstatt kann jederzeit und flexibel besucht werden.
            </div>
        </div>
    </div>
</div>