<div class="clear"></div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <strong>3dimensional AG</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                Innenarchitektur, Gestaltung, Kommunikation<br/>
                Oberwiesenstrasse 4<br/>
                CH-8304 Wallisellen
            </div>
            <div class="col-4">
                <a href="tel:+41444224466">Tel +41 44 422 44 66</a><br/>
                Fax +41 44 422 44 14<br/>
                <a href="mailto:info@3dimensional.ch">info@3dimensional.ch</a><br/>
                <div class="spacer-8x"></div>
				<div class="social-media">
	                <a href="#"><img src="./images/uploads/if_Facebook.svg"></a>
	                <a href="#"><img src="./images/uploads/if_Intsagram.svg"></a>
	                <a href="#"><img src="./images/uploads/if_Twitter.svg"></a>
	                <a href="#"><img src="./images/uploads/if_Pinterest.svg"></a>
				</div>
                <div class="spacer-2x"></div>
                <div>
                    <a href="#">Impressum</a> | <a href="#">Datenschutz</a> | <a href="#">AGB</a>
                </div>
            </div>
            <div class="col-4">
                Mo-Fr 8.00h-17.00h<br/>
                Unsere Werkstatt kann jederzeit und flexibel besucht werden.
            </div>
        </div>
    </div>
</div>