<div id="collapsible">
    <ul class="menu" id="menu">
        <li>
            <a href="/projects/">
                Referenzen
            </a>
        </li>
        <li>
            <a href="/team/">
                Team
            </a>
        </li>
        <li>
            <a href="/contact/">
                Kontakt
            </a>
        </li>
        <li>
            <a href="/jobs/">
                Jobs
            </a>
        </li>
    </ul>
</div>
<button id="toggler" class="toggler rellax" type="button" aria-label="Menü">
    <div class="animated-menu-icon" id="togglericon">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="text" aria-hidden="false">MENU</div>
</button>
<div class="header">
    <div class="container">
        <div class="navbar rellax">
            <div class="logo">
                <a href="/" aria-label="3dimensional Home">
                    <img class="logo-hero" src="/images/uploads/3dimensional-logo-white.svg" alt="3dimensional Logo weiss" width="160" height="40">
                    <img class="logo-regular" src="/images/uploads/3dimensional-logo-black.svg" alt="3dimensional Logo schwarz" width="160" height="40">
                </a>
            </div>
        </div><!-- end navbar -->
    </div><!-- end container -->
</div><!-- end header -->
<div class="clear"></div>