    <!-- common meta stuff -->
    <base href="{{ $.Site.BaseURL }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name='language' content='DE' />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="{{ .Site.Params.appKeywords }}" />
    <meta name="apple-mobile-web-app-title" content="{{ .Site.Params.appTitle }}" />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='application-name' content='{{ .Site.Params.appTitle }}' />
    <meta name="google-site-verification" content="{{ .Site.Params.appGoogleVerification }}" />
    <meta property="og:site_name" content="{{ .Site.Params.appTitle }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png"  href="favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{ .Site.Params.appColor }}" />
    <link rel="dns-prefetch" href="https://www.google-analytics.com" />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
    <link rel="dns-prefetch" href="https://www.googletagmanager.com" />
    <meta name='msapplication-navbutton-color' content='{{ .Site.Params.appColor }}' />
    <meta name="msapplication-TileColor" content="{{ .Site.Params.appColor }}" />
    <meta name="theme-color" content="{{ .Site.Params.appColor }}" />
    <!-- polyfills & shims -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <script src="js/selectivizr.js"></script>
    <script src="js/rem.js"></script>
    <!-- <![endif] -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>


    <!-- todo - move to javascript partial - deferred styles loading before going live -->
    <link rel="stylesheet" type="text/css" href="css/main.css"/>