<div class="inquiry reveal">
    <h1>Anfrage</h1>
    <p>
        Sie möchten mit uns ein neues digitales Projekt (Web App, Enterprise CMS, Online Branding, etc.) in Angriff
        nehmen, oder uns einfach und unverbindlich kennenlernen? Das freut uns! Erzählen Sie uns etwas über Ihr Projekt.
        Wir werden umgehend mit Ihnen Kontakt aufnehmen:
    </p>
    <div class="spacer-1x"></div>

    <form action="/inquiry-success" title="Anfrage" name="inquiry" data-netlify="true">

        <div class="row">
            <div class="col-4">
                <label for="name">
                    <span class="text">
                        Name *
                    </span>
                </label>
            </div>
            <div class="col-8">
                <input name="name" id="name" type="text" required>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <label for="email">
                    <span id="inquiryEmail" class="text">
                        E-Mail *
                    </span>
                </label>
            </div>
            <div class="col-8">
                <input type="text" name="email" id="email" required>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <label for="phone">
                    <span id="inquiryPhone" class="text">
                        Telefon
                    </span>
                </label>
            </div>
            <div class="col-8">
                <input type="text" name="phone" id="phone">
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <label for="company">
                    <span class="text">
                        Firma
                    </span>
                </label>
            </div>
            <div class="col-8">
                <input name="company" id="company" type="text">
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <label for="desire">
                    <span class="text">
                        Ich brauche
                    </span>
                </label>
            </div>
            <div class="col-8">
                <select title="Wunschobjekt" name="desire" id="desire">
                    <option value="" selected>
                        Bitte wählen ...
                    </option>
                    <option value="landingpage">
                        Lassen Sie uns darüber sprechen / siehe Kommentar
                    </option>
                    <option value="landingpage">
                        eine Landingpage
                    </option>
                    <option value="mircosite">
                        ein Mikrosite
                    </option>
                    <option value="corporate-cms">
                        ein Corporate CMS
                    </option>
                    <option value="web-app">
                        eine Web App
                    </option>
                    <option value="native-app">
                        eine Native App
                    </option>
                    <option value="individual-developemnt">
                        Individualsoftware
                    </option>
                    <option value="logo-corporate-design">
                        ein Logodesign / Corporate Design
                    </option>
                    <option value="marketing-strategy-branding">
                        Marketing / Strategie / Branding
                    </option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <label for="budget">
                    <span class="text">
                        Budget
                    </span>
                </label>
            </div>
            <div class="col-8">
                <select title="Budget" name="budget" id="budget">
                    <option selected>Bitte wählen ...</option>
                    <option>Ich weiss es noch nicht</option>
                    <option>unter 5'000 CHF</option>
                    <option>5'000 bis 10'000 CHF</option>
                    <option>10'000 bis 20'000 CHF</option>
                    <option>20'000 bis 100'000 CHF</option>
                    <option>100'000 bis 250'000 CHF</option>
                    <option>über 250'000 CHF</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <label for="comments">
                    <span class="text">
                        Nachricht *
                    </span>
                </label>
            </div>
            <div class="col-8">
                <textarea name="comments" id="comments" class="autoresize" rows="3" required></textarea>
            </div>
        </div>

        <div class="spacer-2x"></div>

        <div class="row">
            <div class="col-12">
                <label for="newsletter" class="checkbox">
                    <input name="newsletter" id="newsletter" value="Ich möchte den ditoy Newsletter erhalten" type="checkbox">
                    <span id="anmeldungAnab1" class="text">
                        Ich möchte gelegentlich den ditoy Newsletter erhalten mit News rund um ditoy und Webtechnologien.
                    </span>
                </label>
            </div>
        </div>

        <div class="spacer-2x"></div>

        <div class="row submit">
            <div class="col-4 hide-on-phone">&nbsp;</div>
            <div class="col-8">
                <button type="submit" class="simple-btn">
                    Senden
                </button>
            </div>
        </div>

    </form>
</div>

<div class="spacer-5x"></div>