<script async type="application/javascript" src="app.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116326681-1"></script>
<!--<noscript id="deferred-styles">-->
    <!--<link rel="stylesheet" type="text/css" href="css/main.css"/>-->
<!--</noscript>-->
<script>
    // google analytics optout
    var gaId = 'UA-116326681-1';
    var gaOptOut = 'ga-disable-' + gaId;
    if (document.cookie.indexOf(gaOptOut + '=true') > -1) {
        window[gaOptOut] = true;
    }
    function gaTrackOptOut() {
        document.cookie = gaOptOut + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
        window[gaOptOut] = true;
        alert('The Google Analytics Opt-Out-Cookie has been set.');
    }
    // google analytics tracking
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', gaId, { 'anonymize_ip': true });
    // deferred loading of stylesheets
    var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        if (addStylesNode) {
            var replacement = document.createElement("div");
            replacement.innerHTML = addStylesNode.textContent;
            document.body.appendChild(replacement)
            addStylesNode.parentElement.removeChild(addStylesNode);
        }
    };
    var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
        window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
    if (raf) {
        raf(function() { window.setTimeout(loadDeferredStyles, 0); });
    } else {
        window.addEventListener('load', loadDeferredStyles);
    }
</script>