<div class="header">
    <div class="inner">
        <div class="navbar">

            <div class="logo">
                <a href="/" aria-label="ditoy Home">
                    <span id="svglogo">
                    </span>
                </a>
            </div>
            <button id="toggler" class="toggler" type="button" aria-label="Menü">
                <div class="animated-menu-icon" id="togglericon">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="text" aria-hidden="false">MENU</div>
            </button>
            <div class="clear"></div>

            <div id="collapsible">
                <div class="container">
                    <ul class="menu" id="menu">
                        <li>
                            <a href="/projects/">
                                Projekte
                            </a>
                        </li>
                        <li>
                            <a href="/services/">
                                Angebot
                            </a>
                        </li>
                        <li>
                            <a href="/team/">
                                Agentur
                            </a>
                        </li>
                        <li>
                            <a href="/contact/">
                                Kontakt
                            </a>
                        </li>

                        <li class="spacer"></li>

                        <li class="small">
                            <a href="/jobs/">
                                Jobs
                            </a>
                        </li>
                    </ul>
                </div>
            </div><!--end collapsible-->
        </div><!--end navbar-->
    </div><!--end inner-->
</div><!--end header-->