<h2 class="mainheading">Projekte und Kunden</h2>

<div class="cards home">
    <div class="cards-sizer"></div>
    <div class="card">
        <a href="./projects/kyburz-branding/">
            <div class="card-inner">
                <div class="featuredimageWrapper">
                    <div class="featuredimage" style="background-image: url('images/uploads/kyburz/kyburz-image.jpg');" aria-label="Kyburz Stimmungsbild"></div>
                </div>
            </div>
            <h3>Kyburz: Ganzheitliche Markenbetreuung</h3>
        </a>
    </div>
    <div class="card">
        <a href="./projects/spital-zollikerberg-cms/">
            <div class="card-inner">
                <div class="featuredimageWrapper">
                    <div class="featuredimage" style="background-image: url('images/uploads/spital-zollikerberg/zollikerberg-image.jpg');" aria-label="Spital Zollikerberg Stimmungsbild"></div>
                </div>
            </div>
            <h3>Spital Zollikerberg: Enterprise CMS</h3>
        </a>
    </div>
    <div class="card">
        <a href="./projects/tanne-web-app/">
            <div class="card-inner">
                <div class="featuredimageWrapper">
                    <div class="featuredimage" style="background-image: url('images/uploads/tanne/tanne-image.jpg')" aria-label="Stiftung Tanne Stimmungsbild"></div>
                </div>
            </div>
            <h3>Stiftung Tanne: Web App Entwicklung</h3>
        </a>
    </div>
</div>

<div class="spacer-1x"></div>

<div class="customers">
    <div class="wrapper" id="cWrapper"><!-- filled via app.js --></div>
</div>

<div class="spacer-2x"></div>

<div class="text-center">
    <a class="btn" href="./projects/">
        Alle Projekte
    </a>
</div>
