<div class="teasers">
    <div class="portfolioControlbar">
        <div>
            {{ range $index, $page := .Data.Pages }}
            {{ if eq "projects" .Type }}
            <a href="#" class="portfolioChooser portfolioControl" data-index="{{ $index }}" title="{{ $page.Title }}"></a>
            {{ end }}

            {{ end }}
        </div>
        <a href="#" id="portfolioCloser" class="portfolioControl">
            <span class="hide-on-phone">
                schliessen
            </span>
            <span class="hide-on-tablet hide-on-desktop">
                [ X ]
            </span>
        </a>
    </div>

    {{ range $index, $page := .Data.Pages }}
        {{ if eq "projects" .Type }}
            {{ partial "project-teaser" (dict "context" . "index" $index "page" $page) }}
        {{ end }}
    {{ end }}
</div>