<li class="card equalize">
    <a class="link permalink" href="{{ .Permalink }}">
        <div class="card-inner">
            {{ if .Params.image }}
                <div class="featuredimageWrapper">
                    <div class="featuredimage" style="background-image: url('{{ .Params.image }}-/scale_crop/400x300/center/');" aria-label="{{ .Params.title }}"></div>
                </div>
            {{ end }}
            <h2>
                {{ .Title }}
            </h2>
        </div>
    </a>
    <div class="clear"></div>
</li>