<li class="card equalize">
    <a class="link permalink" href="{{ .Permalink }}">
        <div class="card-inner">
            <div class="featuredimageWrapper">
                {{ if .Params.youtube }}
                    <div class="featuredimage youtubethumb" data-youtubethumb="{{ .Params.youtube }}" aria-label="{{ .Params.title }}"></div>
                {{ else if .Params.image }}
                    <div class="featuredimage" style="background-image: url('{{ .Params.image }}-/scale_crop/800x600/center/');" aria-label="{{ .Params.title }}"></div>
                {{ end }}
            </div>
            <h2>
                {{ .Title }}
            </h2>
        </div>
    </a>
    <div class="clear"></div>
</li>