<div class="job" id="{{ .UniqueID }}">
    <div class="more" data-target="{{ .UniqueID }}">
        Mehr anzeigen ▼
    </div>
    {{ if .Params.imagethumb }}
        <div class="featuredimageWrapper">
            <div class="featuredimage" style="background-image: url('{{ .Params.imagethumb }}');" title="{{ .Params.title }}"></div>
        </div>
    {{ end }}
    <article class="summary">
        <h2>{{ .Title }}</h2>

        <div class="row">
            <div class="col-12">
                {{ .Content }}
            </div>
        </div>
    </article>
    <div class="less" data-target="{{ .UniqueID }}">
        Weniger anzeigen ▲
    </div>
</div>
