<!doctype html>
<html lang="de">
{{partial "head-site" . }}
{{ partial "body" . }}
<div class="wrapper">
    {{ partial "header" . }}
    <div class="jobs">

        <div class="stripe white">
            <div class="spacer-4x"></div>
            <div class="container">
                <article class="main">
                    <h1>{{ .Title }}</h1>

                    {{ .Content }}
                </article>
            </div>
        </div>

        <div class="stripe gray">
            <div class="container">
                {{  range $index, $page := .Data.Pages.ByParam "date" }}
                    {{ .Render "card" }}
                {{ end }}
                <div class="clear"></div>
            </div>
        </div>
    </div>

    {{ partial "footer" . }}
</div>
</body>
{{partial "javascript" . }}
</html>