{
  "presets": [["es2015", {
    "targets": {
      "browsers": ["last 5 versions", "ie >= 9"]
    },
    "useBuiltIns": true
  }]],
  "plugins": [
    "syntax-object-rest-spread",
    "transform-object-rest-spread"
  ]
}
