.nav-prev-next {
  display: block;
  width: 100%;

  img {
    width: 30px;
  }

  .nav-prev {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;

    img {
      transform: rotate(180deg) !important;
    }
  }

  .nav-next {
    display: block;
    float: right;
    margin: 0;
    padding: 0;
  }

  .nav-prev,
  .nav-next {
    transition: transform 300ms $tr-ease !important;

    &:hover {
      transform: scale(1.2) !important;
      transition: transform 300ms $tr-ease !important;
    }
  }
}

h1.has-nav {
  margin-left: 2em;
  margin-right: 2em;
}