$footer-text: $c-mediumgray;

.footer {
	clear: both;
	background: $c-darkgray;
	color: $footer-text;
	padding-top: 3rem;
	font-size: 0.9rem;
	letter-spacing: 0.05em;
	min-height: 36em;
	position: relative;
	background-image: url('/images/uploads/3dimensional-grid.svg');
	background-position: bottom right;
	background-repeat: no-repeat;
		  @include media("<=tablet") {
					min-height: 520px;
		  }
	a {
		color: $footer-text;
		text-decoration: none;
		&:hover {
			opacity: 0.6;
		}		

	}

	.social-media {
		a {
			margin: 0 4px;
			display: inline-block;
			max-width: 40px;
		}
	}
}
