$footer-text: $c-mediumgray;

.footer {
	position: relative;
	clear: both;
	background-color: $c-darkgray;
	background-image: url('/images/uploads/3dimensional-grid.svg');
	background-position: bottom right;
	background-repeat: no-repeat;
	color: $footer-text;
	font-size: 0.9rem;
	padding-top: 3rem;
	letter-spacing: 0.05em;
	min-height: 520px;

	@include media(">tablet") {
		min-height: 36em;
	}

	a {
		color: $footer-text;
		text-decoration: none;
		max-height: 18px;

		&:hover {
			opacity: 0.6;
		}

	}

	.social-media {
		a {
			margin: 0 4px;
			display: inline-block;
			max-width: 40px;
		}
	}
}
