.header {
  height: $h-navbar;
  width: 100%;
  z-index: $z-header;

  a {
    text-decoration: none;
    color: $c-darkgray;
    transition: $tr-scope $tr-speed $tr-ease;
    text-transform: uppercase;

    &:hover {
      color: $c-primary !important;
      transition: $tr-scope $tr-speed $tr-ease;
    }
  }

  .logo {
    display: block;
    float: left;
    padding: 0;
    margin-top: 3rem;

    img,
    svg {
      width: 160px !important;
      height: auto;
    }
  }

  .logo-hero {
    display: none;
  }

  .logo-regular {
    display: block;
  }
}

/* override for hero pages: show header on top of hero */
body.has-hero {
  .header {
    position: absolute;
    top: 0;

    a {
      color: $c-mediumgray;
    }

    .logo-hero {
      display: block;
    }

    .logo-regular {
      display: none;
    }
  }
}