body.has-hero {

  #animated-grid {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 500px;
    width: 75vw;
    max-width: 100vw;
    min-height: 750px;
    height: 65vh;
    max-height: 100vh;
    overflow: hidden;
    text-align: left;
    z-index: ($z-hero + 2);

    @include media(">=tablet") {
      max-width: 65vw;
    }

    @include media(">=desktop") {
      max-width: 700px;
    }
  }

  #animated-grid-svg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }


  #slides{
    position: relative;
    height: 150px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    opacity: 0.99; // z-index hack
    z-index: ($z-hero + 1);
  }

  .slide{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-image: url('/images/uploads/3dimensional-hero-1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 100vh;
    transition: opacity 1s;
  }

  .claim {
    display: block;
    position: absolute;
    left: 0;
    top: 40vh;
    text-align: center;
    width: 100%;
    z-index: ($z-hero + 3);

    .container {
      position: relative;
      margin: 0 auto;
    }

    h1 {
      color: $c-white;
      text-shadow: 1px 1px 2px rgba($c-black, 0.5);
      text-align: left;
    }
  }

  .showing{
    opacity: 1;
    z-index: 2;
  }

  .slide{
    z-index: 0;
  }

  .slide:nth-of-type(1){
    background-image: url('/images/uploads/01.jpg');
  }

  .slide:nth-of-type(2){
    background-image: url('/images/uploads/02.jpg');
  }

  .slide:nth-of-type(3){
    background-image: url('/images/uploads/03.jpg');
  }


  .cls{
    fill: none;
    stroke:#b6b6b7;
    stroke-miterlimit:10;
  }

  @keyframes anim01 {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }


  .cls-15, .cls-28, cls-40, .cls-16 {
    animation: anim01 10s infinite;
    fill: $c-green;
  }
  .cls-3, .cls-30, .cls-33    {
    animation: anim01 7s infinite;
    fill: $c-green;
  }

  .cls-10, .cls-26  {
    animation: anim01 15s infinite;
    fill: $c-green;
  }


  #slides {
    position: relative;
    top: 0;

    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    z-index: $z-hero;
    padding: 20vh 0;

    @include media(">=tablet") {
      padding: 25vh 0;
    }

    @include media(">=desktop") {
      padding: 30vh 0;
    }

    @include media(">=mega") {
      padding: 35vh 0;
    }

    h1, h2 {
      color: $c-mediumgray;
      text-transform: none;
      font-weight: 400;
      text-align: left;
      max-width: (2/3) * $w-container;
      top: 70%;
      position: absolute;
      text-shadow: 0 1 0.2em #000;
      line-height: normal;

    }
  }

  .introduction .icon {
    float: none;
    width: 100%;
    text-align: center;

    img {
      margin: 0 auto;
      width: auto;
      max-width: 150px;
      height: auto;
      max-height: 150px;
    }

    &:nth-of-type(odd) {
      float: left;
    }

    &:nth-of-type(even) {
      float: right;
    }

    @include media(">=tablet") {

      width: 280px;
      padding: 2em;
      margin-top: 3em;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
