/* heroes */

#animated-grid {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 500px;
  width: 100vw;
  max-width: 100%;
  min-height: 500px;
  height: 100vh;
  max-height: 100vh;
  z-index: ($z-hero + 1);
  overflow: hidden;
  text-align: left;
}

#animated-grid-svg {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 80%;
}


.hero {
  position: relative;
  top: 0;
  background-image: url('/images/uploads/3dimensional-hero-1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  z-index: $z-hero;
  padding: 20vh 0;

  @include media(">=tablet") {
    padding: 25vh 0;
  }

  @include media(">=desktop") {
    padding: 30vh 0;
  }

  @include media(">=mega") {
    padding: 35vh 0;
  }

  h1, h2 {
    color: $c-mediumgray;
    text-transform: none;
    font-weight: 400;
    text-align: left;
    max-width: (2/3) * $w-container;
  }
}


.stripe {
  margin: 0;
  padding: 5rem 0;

  &:first-of-type {
    padding-top: 0;
  }

  &.gray {
    background-color: $c-lightgray;
  }

  &.black {
    background-color: $c-darkgray;

    cite {
      color: $c-lightgray;
    }
  }
}

.icon {
  float: none;
  width: 100%;
  text-align: center;

  img {
    margin: 0 auto;
    width: auto;
    max-width: 150px;
    height: auto;
    max-height: 150px;
  }

  &:nth-of-type(odd) {
    float: left;
  }

  &:nth-of-type(even) {
    float: right;
  }

  @include media(">=tablet") {

    width: 280px;
    padding: 2em;
    margin-top: 3em;

    img {
      width: 100%;
      height: auto;
    }
  }
}