/* hyperlinks */

a {
	color: $c-primary;
	text-decoration: none;
}

a:hover {
	color:	$c-lightgray;
}

a,
button {
  transition: $tr-scope $tr-speed $tr-ease;

  &:visited {
    text-decoration: none;
    transition: $tr-scope $tr-speed $tr-ease;
  }

  &.btn {
    border: 2px solid $c-primary;
  }

  &:not(.btn) {
    &:focus,
    &:hover,
    &:visited:hover,
    &:visited:focus {
      transition: $tr-scope $tr-speed $tr-ease;
    }
  }
}
