/* hyperlinks */

a {
	color: $c-green;
	text-decoration: none;
}

a:hover {
	color:	$c-darkgray;
}

a,
button {
  transition: $tr-scope $tr-speed $tr-ease;

  &:visited {
    text-decoration: none;
    transition: $tr-scope $tr-speed $tr-ease;
  }

  &.btn {
    border: 2px solid $c-black;;
  }

  &:not(.btn) {
    &:focus,
    &:hover,
    &:visited:hover,
    &:visited:focus {
      transition: $tr-scope $tr-speed $tr-ease;
    }
  }

  &.nowrap {
    white-space: nowrap !important;
  }

  &.nav {
    color: $c-gray;
  }

  &.padded-x {
    display: inline-block;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &.padded-y {
    display: inline-block;
    padding-bottom: 0.7rem;
    padding-right: 0.5rem;
  }

  .svg-inline--fa {
    position: relative;
    top: 0.6rem;
  }

}
