ul.details {
  list-style: square;
  margin-left: 22px;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    color: $c-black;

  }
}

.nav-prev-next {
  position: relative;
  top: 15px;
  width: 100%;

  @include media("<=phone") {
      top: 3px;
  }
}

.nav-prev {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}

.nav-next {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
}

.cards {
  margin: 0;
  padding: 0;

  @include media("<=phone") {
    border: none;
    text-align: left;
  }
}

/* card sizing */
.cards-sizer, .card {
  width: percentage(1); // 1 col

  @include media(">=tablet") {
    width: percentage(1/2); // 2 cols
  }

  @include media(">=desktop") {
    width: percentage(1/3); // 3 cols
  }
}

.card {
  float: left;
  padding: 1rem;
  background: $c-lightgray;


  h3 {
    font-family: $f-regular;
    transition: $tr-scope $tr-speed $tr-ease;
    padding: 0.5rem 0 0 0;
    margin: 0;
    width: 100%;
    font-size: 1rem;
    letter-spacing: 0.03em;
    line-height: normal;
    overflow: hidden;
  }

  a {
    color: $c-darkgray;
    text-decoration: none;

    &:hover {
      color: $c-darkgray;
      text-decoration: none;
    }
  }
}

.card-inner {
  transition: $tr-scope $tr-speed $tr-ease;
  overflow: hidden;

  *,
  &:hover * {
    transition: $tr-scope $tr-speed $tr-ease;
  }

  /* preps for hover fill effect */
  .featuredimageWrapper {
    border-radius: 0.2rem;
    background-color: $c-white;
    overflow: hidden;
  }

  .featuredimage {
    transition: transform $tr-speed-slow $tr-ease;
    transform: scale(1);
  }

  /* elevate and fill card on hover effect */
  &:hover {
    .featuredimageWrapper {
      transition: filter $tr-speed-slow $tr-ease;
      filter: grayscale(0);
    }

    .featuredimage {
      transition: transform $tr-speed-slow $tr-ease;
      transform: scale(1.08);
    }

    a {
      color: $c-darkgray;
    }
  }

  /* linking of the card */
  &> a {
    padding: 0;
    display: block;
    color: $c-darkgray;
    text-decoration: none;
    transition: $tr-scope $tr-speed $tr-ease;
  }

  .featuredimage {
    width: 100%;
    height: 0;
    display: block;
    padding-bottom: percentage(3/4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
}
