ul.details {
  list-style: square;
  margin-left: 22px;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    color: $c-black;

  }
}

.cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;

  @include media("<=phone") {
    border: none;
    text-align: left;
  }
}

/* card sizing */
.cards-sizer, .card {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.5rem;

  @include media('>=tablet') {
    width: 50%;
    margin-bottom: 0;
  }
}

.card {
  padding: 0;
  transition: $tr-scope $tr-speed-fast $tr-ease-linear;

  h3 {
    font-family: $f-headings;
    transition: $tr-scope $tr-speed $tr-ease-alt;
    padding: 0.5rem 0 0 0;
    margin: 0.3rem 0;
    width: 100%;
    font-size: 1rem;
    letter-spacing: 0.03em;
    line-height: normal;
    overflow: hidden;
  }

  a {
    color: $c-darkgray;
    text-decoration: none;

    &:hover {
      color: $c-darkgray;
      text-decoration: none;
    }
  }

  /* elevate and fill card on hover effect for larger screens only */
  &:hover {
    @include media(">=tablet") {
      transition: $tr-scope $tr-speed-slow $tr-ease-linear;
      background: $c-white;
      box-shadow: 1px 1px 1px 0 rgba($c-black, 0.1);
    }

    .featuredimage {
      transform: scale(1.1);
      filter: brightness(120%) grayscale(5%) contrast(85%);
    }

    a {
      color: $c-darkgray;
    }
  }
}
.home {
  .card {
    &:hover {
      @include media(">=tablet") {
        background: $c-lightgray;
        box-shadow: 1px 1px 1px 0 rgba($c-black, 0.2);
      }
    }
  }
}

.card-inner {
  transition: $tr-scope $tr-speed $tr-ease-linear;
  padding: 0;
  margin: 0;

  @include media(">=tablet") {
    padding: 1rem;
    margin: 0.6rem;
  }

  * {
    transition: $tr-scope $tr-speed $tr-ease-linear;
  }

  p {
    font-size: 1rem;
    line-height:  1.5rem;
  }
  /* preps for hover fill effect */
  .featuredimageWrapper {
    overflow: hidden;
  }

  /* linking of the card */
  &> a {
    padding: 0;
    display: block;
    color: $c-darkgray;
    text-decoration: none;
  }

  .featuredimage {
    width: 100%;
    height: 0;
    display: block;
    padding-bottom: percentage(3/4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
