ul.details {
  list-style: square;
  margin-left: 22px;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    color: $c-black;

  }
}

.nav-prev-next {
  position: relative;
  top: 15px;
  width: 100%;

  @include media("<=phone") {
    top: 3px;
  }
}

.nav-prev {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}

.nav-next {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
}

.cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;

  @include media("<=phone") {
    border: none;
    text-align: left;
  }
}

/* card sizing */
.cards-sizer, .card {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.5rem;

  @include media('>=tablet') {
    width: 50%;
    margin-bottom: 0;
  }

  @include media('>=desktop') {
    width: percentage(1/3);
    margin-bottom: 0;
  }
}

.card {
  padding: 0;

  h3 {
    font-family: $f-regular;
    transition: $tr-scope $tr-speed $tr-ease-alt;
    padding: 0.5rem 0 0 0;
    margin: 0.3rem 0;
    width: 100%;
    font-size: 1rem;
    letter-spacing: 0.03em;
    line-height: normal;
    overflow: hidden;
  }

  a {
    color: $c-darkgray;
    text-decoration: none;

    &:hover {
      color: $c-darkgray;
      text-decoration: none;
    }
  }
}

.card-inner {
  transition: $tr-scope $tr-speed $tr-ease-linear;
  padding: 0;
  margin: 0;
  border-radius: 1px;
  perspective: 1500px;
  transform-origin: 60% 40%;

  @include media(">=tablet") {
    padding: 1rem;
    margin: 0.6rem;
  }

  * {
    transition: $tr-scope $tr-speed $tr-ease-linear;
  }

  p {
    font-size: 1rem;
    line-height:  1.5rem;
  }
  /* preps for hover fill effect */
  .featuredimageWrapper {
    background-color: $c-white;
    overflow: hidden;
  }

  .featuredimage {
    transition: transform $tr-speed $tr-ease-alt;
    transform: scale(1);
  }

  /* elevate and fill card on hover effect */
  &:hover {
    transition: $tr-scope $tr-speed $tr-ease-linear;
    background: $c-white;
    box-shadow: 2px 2px 0 rgba($c-black, 0.2);


    .featuredimage {
      transition: transform $tr-speed $tr-ease-alt;
      transform: scale(1.1);
    }

    a {
      color: $c-darkgray;
    }
  }

  /* linking of the card */
  &> a {
    padding: 0;
    display: block;
    color: $c-darkgray;
    text-decoration: none;
  }

  .featuredimage {
    width: 100%;
    height: 0;
    display: block;
    padding-bottom: percentage(3/4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
