/*
 * mobile-first design:
 *
 * 1) default styles for mobile
 * 2) >= tablet
 * 3) >= desktop
 * 4) >= mega
 */

html {
  font-size: 15px;
  line-height: 1.55;

  @include media(">=tablet", "<desktop") {
    font-size: 16px;
    line-height: 1.6;
  }

  @include media(">=desktop", "<mega") {
    font-size: 17px;
    line-height: 1.65
  }

  @include media(">=mega") {
    font-size: 18px;
    line-height: 1.7;
  }
}

body {
  background: lighten($c-black, 5%);
  color: $c-white;
  font-family: $f-regular;
  font-weight: 300;
  font-size: inherit;
  line-height: inherit;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

header {
  text-align: center;
  padding: 0;
  margin: 0;
  background: $c-white;
  color: $c-black;
  font-weight: 700;
  transition: $tr-scope $tr-speed $tr-ease;

  &:hover {
    background: darken($c-white, 10%);
    transition: $tr-scope $tr-speed $tr-ease;
  }

  .label {
    padding: 0.6em 0;
  }

  a {
    color: $c-black;

    &:focus,
    &:hover,
    &:visited:hover,
    &:visited:focus {
      transition: $tr-scope $tr-speed $tr-ease;
      color: red;
    }
  }
}

#toggler {
  display: block;
  padding: 1em;
}

#collapsible {
  display: none;

  &.expanded {
    display: block;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }
  }

  a {
    display: block;
    padding: 0.6em 1em;
    width: 100%;
    transition: $tr-scope $tr-speed $tr-ease;

    &:hover {
      background: $c-white;
      transition: $tr-scope $tr-speed $tr-ease;
    }
  }
}

.stripe {
  background: $c-black;
  padding: 1em 0;
}

.container {
  width: 100%;
  max-width: $w-container;
  margin: 0 auto;
  padding: 0 1.2rem;

  &:after {
    display: block;
    clear: both;
    float: none;
    content: ' ';
    width: 100%;
    height: 1px;
  }

  @include media(">=tablet") {
    padding: 0 2rem;
  }
}

article {
  padding: 2em 0;
}

.image {
  border: 3px solid $c-white;
  box-shadow: 12px 12px 0 lighten($c-black, 25%);
  margin-bottom: 2em;
  background: $c-white;

  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .youtube {
    display: block;
    padding: 0;
    margin: 0;
    border: 0 none;
    outline: 0 none;
  }

  iframe {
    padding: 0;
    margin: 0;
    border: 0 none;
    outline: 0 none;
  }
}

.actions {
  padding: 1em 0 4em 0;
  text-align: center;
}

footer {
  padding: 2em 0;
  color: darken($c-white, 30%);
  font-size: 0.8rem;
}

/* clears */

.clear {
  clear: both;
  height: 0;
  padding: 0;
  margin: 0;
}

.clear-left {
  clear: left;
  height: 0;
  padding: 0;
  margin: 0;
}

.clear-right {
  clear: right;
  height: 0;
  padding: 0;
  margin: 0;
}

/* hides */
.screen-reader-only {
  display: none;
}

.hide {
  display: none;
}

.hide-on-phone {
  @include media("<=phone") {
    display: none !important;
  }
}

.hide-on-tablet {
  @include media(">phone", "<desktop") {
    display: none !important;
  }
}

.hide-on-desktop {
  @include media(">=desktop") {
    display: none !important;
  }
}

/* 404 page styling */
.error404 {

  code {
    position: relative;
    bottom: 0.4rem;
    padding: 0.2rem;
    font-family: monospace;
    color: $c-gray;
  }

}

.equalize {
  min-height: inherit;
}


/** styles used by Netlify CMS app **/

.netlify-preview {
  padding: 1.5em 1em 4em 1em;
}
