/*
 * mobile-first design:
 *
 * 1) default styles for mobile
 * 2) >= tablet
 * 3) >= desktop
 * 4) >= mega
 */

html {
  font-size: 16px;
}

body {
  font-family: $f-regular;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background: $c-white;
  overflow-x: hidden;

  @include media(">=tablet", "<desktop") {
    font-size: 16px;
    line-height: 1.7;
  }

  @include media(">=desktop", "<mega") {
    font-size: 17px;
    line-height: 1.7;
  }

  @include media(">=mega") {
    font-size: 18px;
    line-height: 1.7;
  }
}

.container {
  width: 100%;
  max-width: $w-container;
  margin: 0 auto;
  padding: 0 1.2rem;

  &:after {
    display: block;
    clear: both;
    float: none;
    content: ' ';
    width: 100%;
    height: 1px;
  }

  @include media(">=tablet") {
    padding: 0 2rem;
  }
}

.stripe {
  margin: 0;
  padding: 5rem 0;

  &:first-of-type {
    padding-top: 0;
  }

  &.gray {
    background-color: $c-lightgray;
  }

  &.white {
    background-color: $c-white;
  }

  &.black {
    background-color: $c-darkgray;

    cite {
      color: $c-lightgray;
    }
  }
}

/* clears */

.clear {
  clear: both;
  height: 0;
  padding: 0;
  margin: 0;
}

.clear-left {
  clear: left;
  height: 0;
  padding: 0;
  margin: 0;
}

.clear-right {
  clear: right;
  height: 0;
  padding: 0;
  margin: 0;
}

/* hides */
.screen-reader-only {
  display: none;
}

.hide {
  display: none;
}

.hide-on-phone {
  @include media("<=phone") {
    display: none !important;
  }
}

.hide-on-tablet {
  @include media(">phone", "<desktop") {
    display: none !important;
  }
}

.hide-on-desktop {
  @include media(">=desktop") {
    display: none !important;
  }
}

/* 404 page styling */
.error404 {

  code {
    position: relative;
    bottom: 0.4rem;
    padding: 0.2rem;
    font-family: monospace;
    color: $c-gray;
  }

}

.contact article {
	text-align: center;
	a {
		color: $c-green;
		text-decoration: none;
	}

	a:hover {
		color: $c-darkgray;
	}

}

.equalize {
    min-height: inherit !important;
    margin-bottom: 20px !important;
}


/** styles used by Netlify CMS app **/

.netlify-preview {
  padding: 1.5em 1em 4em 1em;
}
