body.projects {
  background-color: $c-lightgray;

  h1 {
    margin: 3em 0 2em 0;

    @include media('<=phone') {
      font-size: 1.2em;
      margin: 5em 0 2em 0;
    }

    @include media('>phone', '<=tablet') {
      font-size: 1.8em;
      margin: 3em 0 2em 0;
    }
  }

  .nav-prev-next {
    margin-top: -2.3em;
  }

  &._index {
    h1 {
        font-size: 2em !important;
        margin: 0 !important;
    }
  }
}

.card-inner,
.project {

  .icons {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0;
      margin: 0;
      display: inline;
    }

    .icon {
      width: 1.8em;
      height: auto;
      display: inline-block;
    }

    &.bigger {
      .icon {
        width: 2.5em;
        margin: 0 0.4rem;

        @include media('<=phone') {
          width: 2.2em;
        }
      }
    }
  }
}

.card-inner .icons {
  text-align: left;
}

.project .icons {
  text-align: center;
  margin-top: 2*$spacer;
}

div.projects {
  z-index: $z-hero;

  label {
    text-transform: uppercase;
    position: relative;

    select {
      box-sizing: border-box;
      padding: 5px;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      width: 100%;
      border-radius: 0;
      min-height: 35px;

      &[id=aufgaben] {
        border: 0 none;
      }
    }

    &[for=aufgaben]:before {
      display: inline-block;
      pointer-events: none;
      content: " ";
      border: solid black;
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: rotate(45deg);
      position: absolute;
      right: 0.5em;
      top: 2.1em;
    }
  }

  .sellect-container {
    border-radius: 0;
    background-color: $c-white !important;
    border: 0 none;
    min-height: 35px;
    padding: 0;
    z-index: $z-hero;
  }


  .sellect-destination-list {
    z-index: ($z-hero + 1);

    .sellect-item {
      font-family: $f-regular;
      background-color: darken($c-mediumgray, 15%);
      color: $c-white;
      border-radius: 5px;
      font-size: 11px;
      margin: 2px;
      padding: 3px 5px;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
    }

    .fa.fa-times:after {
      box-sizing: border-box;
      display: inline-block;
      content: "✕";
      margin-left: 3px;
      font-style: normal;
      border-radius: 50%;
      background-color: $c-white;
      color: darken($c-mediumgray, 15%);
      line-height: 1;
      vertical-align: top;
      height: 17px;
      width: 17px;
      font-size: 10px;
      padding: 3px 4px;
    }
  }


}




// lightgallery
.cont {
  text-align: center;
}

.page-head {
  padding: 60px 0;
  text-align: center;
}

.page-head .lead {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 50px;
  margin-top: 0;
}


.demo-gallery > ul > li {
  margin-bottom: 15px;
  max-width: 250px;
  display: inline-block;
  margin-right: 15px;
  list-style: outside none none;
}

.demo-gallery > ul > li a {
  border: 3px solid #FFF;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}

.demo-gallery > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

.demo-gallery > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
  opacity: 1;
}

.demo-gallery > ul > li a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

.demo-gallery > ul > li a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 20px;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.demo-gallery > ul > li a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}

.demo-gallery .justified-gallery > a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

.demo-gallery .justified-gallery > a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
  opacity: 1;
}

.demo-gallery .justified-gallery > a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}

.demo-gallery .video .demo-gallery-poster img {
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  opacity: 0.8;
  width: 48px;
}

.demo-gallery.dark > ul > li a {
  border: 3px solid #04070a;
}


#lightgallery {
  padding: 0 !important;
}

.demo-gallery>ul>li,
.demo-gallery>ul>li a>img {
  width: 100% !important;
  max-width: 100% !important;
}


