// grid widths
$w-grid:        96%;
$w-gutter:      4%;
$w-container:   65rem;


// colors
$c-green:       #B6C227;
$c-white:       #FFF;
$c-lightgray:   #F3F3F3;
$c-mediumgray:  #E5E5E5;
$c-gray:        #6A6A6A;
$c-darkgray:    #363636;
$c-black:       #171717;

$c-primary:     #b6c229;
$c-secondary:   $c-darkgray;


// navbar height
$h-navbar:      200px;


// base spacing
$spacer:        1em;


// fonts
$f-regular:     "Open Sans", Helvetica, Arial, sans-serif;
$f-headings:    $f-regular;


// transitions
$tr-speed-fast: 200ms;
$tr-speed:      500ms;
$tr-speed-slow: 800ms;
$tr-scope:      all;
$tr-ease:       cubic-bezier(0.15, 1.05, 0.9, 1);
$tr-ease-alt:   cubic-bezier(0.15, 0.95, 0.8, 1);
$tr-ease-linear:cubic-bezier(0.15, 0.45, 0.85, 1);


// breakpoints (for include-media)
$breakpoints:   (phone: 600px, tablet: 768px, desktop: 1200px, mega: 1600px);


// z-indexes
$z-hero:        9940;
$z-header:      9950;
$z-navbar:      9960;
$z-collapsible: 9970;
$z-menu:        9980;
$z-toggler:     9990;
$z-toggler-l1:  9994;
$z-toggler-l2:  9992;
$z-toggler-l3:  9994;
$z-toggler-l4:  9992;