.team {

  .featured {
    float: right;
    margin: 0 0 2rem 2rem;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;


    @include media('>=tablet') {
      width: 350px;
      height: 350px;
    }

    @include media('>=desktop') {
      width: 400px;
      height: 400px;
    }

    @include media('>=mega') {
      width: 500px;
      height: 500px;
    }

    @include media('<=phone') {
      display: block;
      float: none;
      margin: 2rem auto;
    }
  }

  h1 {
    line-height: 100%;
    margin-bottom: 3rem;

    small {
      font-size: 50%;
      color: $c-gray;
    }
  }


  .favorites {

    .wrapper {
      display: inline-block;
      border-radius: 50%;
      transition: transform $tr-speed $tr-ease;
      margin: 0 1.5rem 1.5rem 0;
      border: 3px solid $c-mediumgray;
      padding: 1rem;
      background: white;
      overflow: hidden;
      cursor: pointer;

      @include media('<=phone') {
        text-align: center;
        display: inline-block;
        margin: 0 auto;
      }

      img {
        min-width: 140px;
        width: 6vw;
        height: auto;
      }

      &:hover,
      &:focus {
        transition: all $tr-speed $tr-ease;
        transform: scale(2);
        position: relative;

        @include media('<=phone') {
          transform: scale(1.6);
        }

        @include media('>=tablet') {
          transform: scale(1.8);
        }

        @include media('>=desktop') {
          transform: scale(2);
        }

        @include media('>=mega') {
          transform: scale(2.6);
        }
      }
    }
  }


}