{{ partial "head-3dimensional" }}
<html lang="de">
    {{ partial "head-site" . }}
    {{ partial "body" . }}
    {{ partial "header" . }}
                <div class="error404">
                    <h1>
                        Fehler 404
                        <code>ʕʘ̅͜ʘ̅ʔ</code>
                    </h1>
                    <p>Leider existiert die angeforderte Seite nicht.</p>
                    <p>
                        <a href="/">Hier geht es zur Startseite</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
{{ partial "schema/global" . }}
{{ partial "javascript" . }}
</html>