<!doctype html>
{{ partial "head-eliane" }}
<html lang="de">
{{ partial "head-site" . }}
<body id="root" class="{{ .Type }} {{ .File.TranslationBaseName }}">
    {{ partial "header" . }}
    <div class="container" role="main">
        <h1>{{ .Title }}</h1>
        <article>
            {{ .Content }}
        </article>

        <div class="posts">
            <ul class="cards">
                {{ range first 50 .Data.Pages }}
                {{ .Render "card"}}
                {{ end }}
            </ul>
        </div>
    </div>
    {{ partial "footer" . }}
</div>
</body>
{{ partial "schema/global" . }}
{{ partial "javascript" . }}
</html>