<!doctype html>
{{ partial "head-3dimensional" }}
<html lang="de">
    {{ partial "head-site" . }}
    {{ partial "body" (dict "context" . "hero" true) }}
        <div class="wrapper">

            <div class="hero">
                <div class="container">
                    <h1>Wir lassen punkto Präzision keine Wünsche offen.</h1>
                </div>
            </div>

            {{ partial "header" . }}

            <div class="stripe gray">
                <div class="container">
                    <article>
                        {{ .Content }}
                    </article>
                </div>
            </div>

            <div class="stripe gray">
                <div class="container projects">
                    <article>
                        <h2>Referenzen</h2>
                        {{ $collection := (where (where .Site.Pages "Section" "projects") ".Params.active" "=" true) }}
                        {{ range first 6 ($collection.ByParam "position") }}
                            {{ .Render "card" }}
                        {{ end }}
                        <div class="clear"></div>
                    </article>
                </div>
            </div>

            <div class="stripe black">
                <div class="container">
                    <article>
                        <h2 class="cite text-center">Statement Kunde</h2>
                        <cite>
                             lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed lacus augue. Nullam nec commodo.
                        </cite>
                    </article>
                </div>
            </div>

            <div class="stripe gray">
                <div class="container team">
                    <article>
                        <h2>Team</h2>
                        {{ $collection := (where (where .Site.Pages "Section" "team") ".Params.active" "=" true) }}
                        {{ range first 6 ($collection.ByParam "position") }}
                            {{ .Render "card" }}
                        {{ end }}
                        <div class="clear"></div>
                    </article>
                </div>
            </div>

            <div class="stripe">
                <div class="container">
                    <h2>Kunden</h2>
                    <article class="text-left text-columns-3">
                            {{ $alfa := (slice "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S" "T" "U" "V" "W" "X" "Y" "Z") }}
                            {{ $collection := sort (where .Site.Pages "Section" "customers") ".File.LogicalName" }}
                            {{ range $alfa }}
                            <ul class="no-bullet">
                                {{ $current := . }}
                                <li class="text-heading">{{ $current }}</li>
                                {{ range $collection }}
                                    {{ if eq (lower (substr .Params.title 0 1)) (lower $current) }}
                                        <li>{{ .Params.title }}</li>
                                    {{ end }}
                                {{ end }}
                            </ul>
                            {{ end }}
                    </article>
                </div>
            </div>

            <div class="stripe gray">
                <div class="container">
                    <article>
                        <cite>
                            Statement Mitarbeiter lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed lacus augue. Nullam nec commodo.
                        </cite>
                    </article>
                </div>
            </div>
            {{ partial "footer" . }}
        </div>
    </body>
    {{ partial "schema/global" . }}
    {{ partial "javascript" . }}
</html>