<div class="card">
    <a href="{{ .Permalink }}">
        <div class="card-inner">
            {{ if .Params.imagethumb }}
                <div class="featuredimageWrapper">
                    <div class="featuredimage" style="background-image: url('{{ .Params.imagethumb }}');" aria-label="{{ .Params.title }}"></div>
                </div>
            {{ end }}
        </div>
        <h3>{{ .Title }}</h3>
        <div class="teaser">
            {{ .Params.teaser }}
        </div>
        <div class="icons">
            {{ if eq .Params.concept true }}
                {{ partial "icon" (dict "context" . "icon" "bulb") }}
            {{ end }}
            {{ if eq .Params.planning true }}
                {{ partial "icon" (dict "context" . "icon" "ruler") }}
            {{ end }}
            {{ if eq .Params.implementation true }}
                {{ partial "icon" (dict "context" . "icon" "saw") }}
            {{ end }}
        </div>

    </a>
</div>