<li class="card equalize">
    <a class="link permalink" href="{{ .Permalink }}">
        <div class="card-inner">
            {{ if .Params.image }}
                <div class="featuredimageWrapper">
                    <div class="featuredimage" style="background-image: url('{{ .Params.image }}-/scale_crop/400x300/center/');" aria-label="{{ .Params.title }}"></div>
                </div>
            {{ end }}
            <h3 class="competence title" data-competence="{{ if eq .Params.concept true }}concept {{ end }}{{ if eq .Params.planning true }}planning {{ end }}{{ if eq .Params.implementation true }}implementation {{ end }}">
                {{ .Title }}
            </h3>
            <div class="teaser activity" data-activity="{{ .Params.activities }}">
	            <p class="teaser_truncated">{{ .Params.teaser | truncate 100 }}</p>
            </div>
            <ul class="icons">
                {{ if eq .Params.concept true }}
                    <li>{{ partial "icon" (dict "context" . "icon" "bulb") }}</li>
                {{ end }}
                {{ if eq .Params.planning true }}
                    <li>{{ partial "icon" (dict "context" . "icon" "ruler") }}</li>
                {{ end }}
                {{ if eq .Params.implementation true }}
                    <li>{{ partial "icon" (dict "context" . "icon" "saw") }}</li>
                {{ end }}
            </ul>
        </div>
    </a>
    <div class="clear"></div>
</li>