<!doctype html>
<html lang="de">
{{partial "head-site" . }}
{{ partial "body" . }}
<div class="wrapper">
    {{ partial "header" . }}

    <div class="projects" id="projects-filterable" role="main">
        <div class="container main">

            <h1>{{ .Title }}</h1>

            {{ .Content }}

            <div class="spacer-3x"></div>

            <div class="row">
                <div class="col-2 hide-on-small"></div>
                <div class="col-4">
                    <label for="kompetenzen">Kompetenzen</label>
                        <input type="hidden" id="kompetenzen">
                </div>
                <div class="col-4">
                    <label for="aufgaben">Aufgabenbereich
                        <select id="aufgaben">
                            <option>alle</option>
                        </select>
                    </label>
                </div>
                <div class="col-2 hide-on-small"></div>
            </div>

            <div class="spacer-3x"></div>

            <div id="project-list">
                <ul class="cards list">
                    {{  range $index, $page := .Data.Pages.ByParam "position" }}
                        {{ .Render "card" }}
                    {{ end }}
                </ul>
            </div>
            <div class="clear"></div>

        </div>
    </div>

    <div class="spacer-10x"></div>

    {{ partial "footer" . }}
</div>
<script>
    var competenceList = [ {{ with ($.Site.GetPage "page" "configuration/config.md") }}{{ range $index, $element := .Params.referenceCompetences }}{{ if $index }}, {{ end }}"{{ $element }}"{{ end }}{{ end }} ];
</script>
</body>
{{partial "javascript" . }}
</html>