<!doctype html>
<html lang="de">
{{partial "head-site" . }}
{{ partial "body" . }}
<div class="wrapper">
    {{ partial "header" . }}

    <div class="projects">
        <div class="container">

            <h1>{{ .Title }}</h1>

            {{ .Content }}

            <div class="spacer-3x"></div>

            <div class="row">
                <div class="col-2 hide-on-small"></div>
                <div class="col-4">
                    <label for="f1">
                        <select name="f1" id="f1">
                            <option>Kompetenzen</option>
                        </select>
                    </label>
                </div>
                <div class="col-4">
                    <label for="f2">
                        <select name="f2" id="f2">
                            <option>Aufgabenbereich</option>
                        </select>
                    </label>
                </div>
                <div class="col-2 hide-on-small"></div>
            </div>

            <div class="spacer-3x"></div>

            <div class="cards">
                <div class="cards-sizer"></div>
                {{  range $index, $page := .Data.Pages }}
                    {{ if and (isset .Params "active") (.Params.active) }}
                        {{ .Render "card" }}
                    {{ end }}
                {{ end }}
            </div>
            <div class="clear"></div>

        </div>
    </div>

    {{ partial "footer" . }}
</div>
</body>
{{partial "javascript" . }}
</html>