<!doctype html>
<html lang="de">
{{partial "head-site" . }}
<body id="root">
{{ partial "structure-top" . }}

<div class="projects">

  <h1>{{ .Title }}</h1>
  {{ if .Params.teaser }}
    <h3>{{ .Params.teaser }}</h3>
  {{ end }}

  <div class="spacer-1x"></div>


  {{  range $index, $page := (.Data.Pages.ByParam "position") }}
  {{ if and (isset .Params "featured") (.Params.featured) }}
  <div>
    {{ .Render "large-card" }}
  </div>
  <div class="spacer-2x"></div>
  {{ end }}
  {{ end }}

  <div class="cards">
    <div class="cards-sizer"></div>
    {{  range $index, $page := .Data.Pages }}
      {{ if and (isset .Params "active") (.Params.active) }}
        {{ if and (isset .Params "featured") (not .Params.featured) }}
          {{ .Render "card" }}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
  <div class="clear"></div>
  <div class="spacer-10x"></div>


  <h2 class="mainheading">Kunden</h2>

  <div class="references">

    <div class="row head hide-on-phone">
      <div class="col-2">Jahr</div>
      <div class="col-5">Kunde</div>
      <div class="col-5">Leistung</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>2016</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">2016</div>
      <div class="col-5"><strong>Kyburz Switzerland AG</strong></div>
      <div class="col-5">Corporate Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2016</div>
      <div class="col-5">Dr. med. Beat de Roche</div>
      <div class="col-5">CMS Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2016</div>
      <div class="col-5">Elisabeth Eberle</div>
      <div class="col-5">CMS Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2016</div>
      <div class="col-5"><strong>Keller Swiss Group AG</strong></div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2016</div>
      <div class="col-5">Berufswahlschule BWS Limmattal</div>
      <div class="col-5">Corporate CMS</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>2015</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">seit 2015</div>
      <div class="col-5"><strong>Kyburz Switzerland AG</strong></div>
      <div class="col-5">Markenpositionierung, Corporate Design, Print Design, Signaletik</div>
    </div>
    <div class="row">
      <div class="col-2">2015</div>
      <div class="col-5"><strong>Diakoniewerk Neumünster / Spital Zollikerberg</strong></div>
      <div class="col-5">Multisite, Enterprise CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2015</div>
      <div class="col-5">City Center Dübendorf</div>
      <div class="col-5">CMS Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2015</div>
      <div class="col-5"><strong>INS AG</strong></div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2015</div>
      <div class="col-5">Arnold Bott AG</div>
      <div class="col-5">Corporate CMS</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>2014</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">2014</div>
      <div class="col-5">Severin Müller</div>
      <div class="col-5">CMS Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2014</div>
      <div class="col-5"><strong>Stadt Zürich</strong>, Stiftung Alterswohnen</div>
      <div class="col-5">Individualentwicklung einer Webapplikation</div>
    </div>

    <div class="row">
      <div class="col-2">2014</div>
      <div class="col-5">Blumer Söhne & Cie AG</div>
      <div class="col-5">Corporate Design, Print Design, Signaletik, CMS Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2014</div>
      <div class="col-5">Rehaklinik Zihlschlacht</div>
      <div class="col-5">Corporate Design, Print Design, Signaletik</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>2013</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">2013</div>
      <div class="col-5"><strong>Universität Zürich</strong></div>
      <div class="col-5">Individualentwicklung einer Webapplikation mit Anbindung an CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2013</div>
      <div class="col-5">Infin AG</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2013</div>
      <div class="col-5">Edorex AG</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2013</div>
      <div class="col-5"><strong>Universität Zürich</strong></div>
      <div class="col-5">forschungsportal.ch Webportal</div>
    </div>
    <div class="row">
      <div class="col-2">2013</div>
      <div class="col-5">3dimensional AG</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2013</div>
      <div class="col-5">Bernard Lang AG</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2013</div>
      <div class="col-5">Impulsis Berufsintegration</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2013</div>
      <div class="col-5">Jedlitschka Gallery</div>
      <div class="col-5">CMS Webseite</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>2012</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">2012</div>
      <div class="col-5">Cyberlink AG</div>
      <div class="col-5">Neupositionierung, Corporate Design</div>
    </div>
    <div class="row">
      <div class="col-2">2012</div>
      <div class="col-5"><strong>Kanton Zürich</strong></div>
      <div class="col-5">Individualentwicklung einer Webapplikation</div>
    </div>
    <div class="row">
      <div class="col-2">2012</div>
      <div class="col-5"><strong>Stadt Zürich</strong>, Stiftung Alterswohnen</div>
      <div class="col-5">Corporate CMS und Webportal</div>
    </div>
    <div class="row">
      <div class="col-2">2012</div>
      <div class="col-5"><strong>Filtex AG</strong></div>
      <div class="col-5">Webshop, E-Commerce Plattform</div>
    </div>
    <div class="row">
      <div class="col-2">2012</div>
      <div class="col-5"><strong>Swisscom AG</strong></div>
      <div class="col-5">Entwicklung eines GUIs für ein Risk Management Rool</div>
    </div>
    <div class="row">
      <div class="col-2">2012</div>
      <div class="col-5">Dr. med Jana Geiss</div>
      <div class="col-5">Corporate Design, CMS Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2012</div>
      <div class="col-5">Max Grüter</div>
      <div class="col-5">CMS Webseite</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>2011</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">2011</div>
      <div class="col-5">Neues Kino Freienstein</div>
      <div class="col-5">CMS Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2011</div>
      <div class="col-5">Qualimover Ltd.</div>
      <div class="col-5">Erweiterung der Webapplikation</div>
    </div>
    <div class="row">
      <div class="col-2">2011</div>
      <div class="col-5">Gastroenterologie Bethanien</div>
      <div class="col-5">CMS Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2011</div>
      <div class="col-5">Privatklinik Hohenegg</div>
      <div class="col-5">Signaletik</div>
    </div>
    <div class="row">
      <div class="col-2">2011</div>
      <div class="col-5"><strong>Kanton Thurgau</strong></div>
      <div class="col-5">Corporate CMS mit Individualentwicklung</div>
    </div>
    <div class="row">
      <div class="col-2">2011</div>
      <div class="col-5">Privatklinik Hohenegg</div>
      <div class="col-5">Imagefilm</div>
    </div>
    <div class="row">
      <div class="col-2">2011</div>
      <div class="col-5">U16-App</div>
      <div class="col-5">Design und Webentwicklung</div>
    </div>
    <div class="row">
      <div class="col-2">2011</div>
      <div class="col-5">Colette Lang Interior</div>
      <div class="col-5">CMS Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2011</div>
      <div class="col-5">Edorex AG</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2011</div>
      <div class="col-5">CM Informatik AG</div>
      <div class="col-5">Corporate CMS mit Individualentwicklung</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>2010</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">2010</div>
      <div class="col-5">Avidec AG</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2010</div>
      <div class="col-5">B&B Concept AG</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2010</div>
      <div class="col-5"><strong>AXA-ARAG Rechtsschutz AG</strong> / <strong>Ifolor AG</strong></div>
      <div class="col-5">Individualentwicklung</div>
    </div>
    <div class="row">
      <div class="col-2">2010</div>
      <div class="col-5">Lorenz Keiser</div>
      <div class="col-5">CMS Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2010</div>
      <div class="col-5">Bernard Lang AG</div>
      <div class="col-5">CMS Webseite für Kurzfilm</div>
    </div>
    <div class="row">
      <div class="col-2">2010</div>
      <div class="col-5">Lindenbaum</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2010</div>
      <div class="col-5">Rebecca Robinson</div>
      <div class="col-5">Corporate Design</div>
    </div>
    <div class="row">
      <div class="col-2">2010</div>
      <div class="col-5">Bernard Lang AG</div>
      <div class="col-5">CMS Webseite für Kurzfilm</div>
    </div>
    <div class="row">
      <div class="col-2">2010</div>
      <div class="col-5">Canneto AG</div>
      <div class="col-5">CMS Website mit Webshop</div>
    </div>
    <div class="row">
      <div class="col-2">2005-2010</div>
      <div class="col-5"><strong>Satisloh AG</strong></div>
      <div class="col-5">Gesamtkommunikation (Leadgentur), Corporate Identity, Corporate Design, Print Design, PoS-Design, Webdesign</div>
    </div>
    <div class="row">
      <div class="col-2">2005-2010</div>
      <div class="col-5">Privatklinik Hohenegg</div>
      <div class="col-5">Gesamtkommunikation, Logoentwicklung, Printkommunikation, Werbung, Webdesign</div>
    </div>
    <div class="row">
      <div class="col-2">2010</div>
      <div class="col-5">Ambulante Augenchirurgie Zürich</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2010</div>
      <div class="col-5">Ambulante Augenchirurgie Zürich</div>
      <div class="col-5">Imagefilm</div>
    </div>
    <div class="row">
      <div class="col-2">2010</div>
      <div class="col-5">Büronauten</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2010</div>
      <div class="col-5"><strong>Stadt Zürich</strong>: Stiftung Alterswohnen</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2010</div>
      <div class="col-5">Heinrich Schubart KG</div>
      <div class="col-5">Datenbankapplikation / CRM-Applikation</div>
    </div>
    <div class="row">
      <div class="col-2">2010</div>
      <div class="col-5">Oliver Furrer</div>
      <div class="col-5">CMS Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2010</div>
      <div class="col-5">Bernard Lang AG</div>
      <div class="col-5">CMS Webseite für Kurzfilm</div>
    </div>
    <div class="row">
      <div class="col-2">2010</div>
      <div class="col-5">Harmonie Adliswil</div>
      <div class="col-5">CMS Webseite</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>2009</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">2009</div>
      <div class="col-5">Skymarket</div>
      <div class="col-5">Individualsoftwareentwicklung für ein online Branchenbuch</div>
    </div>
    <div class="row">
      <div class="col-2">2009</div>
      <div class="col-5">Colette Lang Interior</div>
      <div class="col-5">Logo, Corporate Design, Webdesign, Printdesign</div>
    </div>
    <div class="row">
      <div class="col-2">2009</div>
      <div class="col-5">Rehaklinik Zihlschlacht</div>
      <div class="col-5">Corporate Identity, Corporate Design</div>
    </div>
    <div class="row">
      <div class="col-2">2009</div>
      <div class="col-5">Baugenossenschaft Zürich 2</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2009</div>
      <div class="col-5">Schreinerei Hitz</div>
      <div class="col-5">CMS Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2009-2010</div>
      <div class="col-5"><strong>Reflexion AG</strong></div>
      <div class="col-5">Corporate CMS</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>2008</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">2008</div>
      <div class="col-5">Bernard Lang AG</div>
      <div class="col-5">CMS Webseite für Kurzfilm</div>
    </div>
    <div class="row">
      <div class="col-2">2008</div>
      <div class="col-5"><strong>Bundesamt für Privatversicherungen</strong></div>
      <div class="col-5">Benutzerhandbuch für Webapplikation</div>
    </div>
    <div class="row">
      <div class="col-2">2008</div>
      <div class="col-5">Blumer Söhne & Cie AG</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2008</div>
      <div class="col-5">JF-Galerie</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2008</div>
      <div class="col-5">Sandra Auer</div>
      <div class="col-5">Corporate Design, Kommunikation, POS / Messeauftritt, Webshop</div>
    </div>
    <div class="row">
      <div class="col-2">2008</div>
      <div class="col-5">Sandra Breu</div>
      <div class="col-5">B2B Webshop / E-Commerce Plattform</div>
    </div>
    <div class="row">
      <div class="col-2">2008</div>
      <div class="col-5"><strong>Satisloh AG</strong></div>
      <div class="col-5">Extranet-Applikation "Tech-Lounge" für Kunden</div>
    </div>
    <div class="row">
      <div class="col-2">2008</div>
      <div class="col-5">Swiss One Finance AG</div>
      <div class="col-5">Corporate Design, Webdesign</div>
    </div>
    <div class="row">
      <div class="col-2">2005-2008</div>
      <div class="col-5">Brumann Fischereiartikel</div>
      <div class="col-5">Corporate CMS, Webshop / E-Commerce Plattform, Release 3</div>
    </div>
    <div class="row">
      <div class="col-2">2008</div>
      <div class="col-5"><strong>Renova Holding Ltd. / Venetos Management AG / Beregan Holding AG</strong></div>
      <div class="col-5">Logo, Corporate Design, Webdesign</div>
    </div>
    <div class="row">
      <div class="col-2">2008</div>
      <div class="col-5">Edorex AG</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2008</div>
      <div class="col-5">Edorex AG</div>
      <div class="col-5">Printdesign</div>
    </div>
    <div class="row">
      <div class="col-2">2008</div>
      <div class="col-5"><strong>Keller Swiss Group AG</strong></div>
      <div class="col-5">Corporate CMS, Release 3</div>
    </div>
    <div class="row">
      <div class="col-2">2008</div>
      <div class="col-5">Sinar Cameras</div>
      <div class="col-5">Webdesign, Micropage</div>
    </div>


    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>2007</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">2007</div>
      <div class="col-5">SN Handels AG</div>
      <div class="col-5">Webshop / E-Commerce Plattform</div>
    </div>
    <div class="row">
      <div class="col-2">2007-2008</div>
      <div class="col-5">Heinrich Schubart KG</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2007</div>
      <div class="col-5"><strong>Keller Swiss Group AG</strong></div>
      <div class="col-5">Logo, Corporate Design, Kommunikation, Signaletik, Fahrzeugbeschriftung, Printdesign</div>
    </div>
    <div class="row">
      <div class="col-2">2007-2008</div>
      <div class="col-5"><strong>Hochschule für Soziale Arbeit (HSA) Luzern</strong></div>
      <div class="col-5">Webapplikation für Wissenstransfer und Wissensaustausch</div>
    </div>
    <div class="row">
      <div class="col-2">2007</div>
      <div class="col-5"><strong>Debrunner Koenig Holding (Debrunner Acifer)</strong></div>
      <div class="col-5">Corporate CMS, Region DACH, Release 4</div>
    </div>
    <div class="row">
      <div class="col-2">2007</div>
      <div class="col-5">High Class Interior Gruppe</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2007</div>
      <div class="col-5"><strong>Debrunner Koenig Holding (Debrunner Acifer)</strong></div>
      <div class="col-5">Corporate CMS für Metallservice Menziken</div>
    </div>
    <div class="row">
      <div class="col-2">2007</div>
      <div class="col-5">3dimensional AG</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2007</div>
      <div class="col-5">Geomac AG</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2007</div>
      <div class="col-5">Fitamin Gymnastik</div>
      <div class="col-5">CMS Webseite, Release 2</div>
    </div>
    <div class="row">
      <div class="col-2">2007-2008</div>
      <div class="col-5">SN Handels AG</div>
      <div class="col-5">Corporate CMS, Release 2</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>2006</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">2006</div>
      <div class="col-5">SN Handels AG</div>
      <div class="col-5">Webshop / E-Commerce Plattform</div>
    </div>
    <div class="row">
      <div class="col-2">2006</div>
      <div class="col-5">Sinar Cameras</div>
      <div class="col-5">CMS Website</div>
    </div>
    <div class="row">
      <div class="col-2">2006</div>
      <div class="col-5">Arndt Geiger Herrmann AG</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2006</div>
      <div class="col-5"><strong>Rahn AG</strong></div>
      <div class="col-5">Corporate CMS, Release 2</div>
    </div>
    <div class="row">
      <div class="col-2">2006</div>
      <div class="col-5">PFS Pension Fund Services AG</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2006</div>
      <div class="col-5">Gerson Relocation Ltd.</div>
      <div class="col-5">Individualsoftwareentwicklung</div>
    </div>
    <div class="row">
      <div class="col-2">2006</div>
      <div class="col-5">Geomac AG</div>
      <div class="col-5">Produktwebseite / Micropage</div>
    </div>
    <div class="row">
      <div class="col-2">2006</div>
      <div class="col-5">Zweifreunde</div>
      <div class="col-5">Webshop / E-Commerce Plattform</div>
    </div>
    <div class="row">
      <div class="col-2">2006</div>
      <div class="col-5"><strong>Bundesamt für Privatversicherungen</strong></div>
      <div class="col-5">UI / UX Design für Webapplikation</div>
    </div>
    <div class="row">
      <div class="col-2">2006</div>
      <div class="col-5">Baryon AG</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2006</div>
      <div class="col-5">Universal Closures Ltd.</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2006</div>
      <div class="col-5">Riverside Center</div>
      <div class="col-5">CMS Website</div>
    </div>
    <div class="row">
      <div class="col-2">2006</div>
      <div class="col-5">Archituning</div>
      <div class="col-5">CMS Website</div>
    </div>
    <div class="row">
      <div class="col-2">2006</div>
      <div class="col-5">Bruno Streich</div>
      <div class="col-5">CMS Webseite</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>2005</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">2005</div>
      <div class="col-5">Roland Schön AG</div>
      <div class="col-5">CMS Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2005</div>
      <div class="col-5">Keller Swiss Group AG</div>
      <div class="col-5">Individualsoftwareentwicklung</div>
    </div>
    <div class="row">
      <div class="col-2">2005</div>
      <div class="col-5"><strong>Debrunner Koenig Holding (Debrunner Acifer)</strong></div>
      <div class="col-5">Enterprise CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2005</div>
      <div class="col-5">P. Zihlmann Investment Management AG</div>
      <div class="col-5">Microsite</div>
    </div>
    <div class="row">
      <div class="col-2">2005</div>
      <div class="col-5">Peyer Design Concept GmbH</div>
      <div class="col-5">Corporate CMS, Webshop</div>
    </div>
    <div class="row">
      <div class="col-2">2005</div>
      <div class="col-5">Friends for ever</div>
      <div class="col-5">Logo, Corporate Deisng, Printdesign</div>
    </div>
    <div class="row">
      <div class="col-2">2005</div>
      <div class="col-5">Sino-Swiss Consulting</div>
      <div class="col-5">Corporate Design, Corporate Identity</div>
    </div>
    <div class="row">
      <div class="col-2">2005</div>
      <div class="col-5">Nyffenegger Treuhandbüro</div>
      <div class="col-5">Corporate Design, Corporate Identity, CMS Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2005</div>
      <div class="col-5">Fitamin Gymnastik</div>
      <div class="col-5">Logo, Corporate Design, Corporate Identity, CMS Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2005</div>
      <div class="col-5">Kanton Züeich, Volksschulamt</div>
      <div class="col-5">Corporate CMS, Release 2</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>2004</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">2004</div>
      <div class="col-5">Kanton Thurgau, Amt für Volksschule</div>
      <div class="col-5">Corporate CMS, Release 2</div>
    </div>
    <div class="row">
      <div class="col-2">2004</div>
      <div class="col-5">Satis Vacuum</div>
      <div class="col-5">Intranet Webapplikation</div>
    </div>
    <div class="row">
      <div class="col-2">2004</div>
      <div class="col-5">dpi Publishing Service AG (Mediaforum)</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2004</div>
      <div class="col-5">dpi Publishing Service AG (Medienjobs)</div>
      <div class="col-5">Webportal</div>
    </div>
    <div class="row">
      <div class="col-2">2004</div>
      <div class="col-5">ONE Group</div>
      <div class="col-5">Corporate CMS, Release 2</div>
    </div>
    <div class="row">
      <div class="col-2">2004</div>
      <div class="col-5">Skynews</div>
      <div class="col-5">CMS Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2004</div>
      <div class="col-5">Bundesamt für Sport</div>
      <div class="col-5">CMS Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2004</div>
      <div class="col-5">Ocean Dance</div>
      <div class="col-5">Bilderdatenbank</div>
    </div>
    <div class="row">
      <div class="col-2">2004</div>
      <div class="col-5"><strong>Debrunner Koenig Holding (Debrunner Acifer)</strong></div>
      <div class="col-5">Charting Tools</div>
    </div>
    <div class="row">
      <div class="col-2">2004</div>
      <div class="col-5">Gailloud Asset Management AG</div>
      <div class="col-5">Printdesign, Imagebroschüre</div>
    </div>
    <div class="row">
      <div class="col-2">2004</div>
      <div class="col-5"><strong>Kyburz Switzerland AG</strong></div>
      <div class="col-5">Corporate CMS</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>2003</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">2003</div>
      <div class="col-5">Bernard Lang AG</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2003-2006</div>
      <div class="col-5"><strong>Debrunner Koenig Holding (Debrunner Acifer)</strong></div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2003-2005</div>
      <div class="col-5"><strong>Rahn AG</strong></div>
      <div class="col-5">Corporate CMS, Release 1</div>
    </div>
    <div class="row">
      <div class="col-2">2003-2004</div>
      <div class="col-5">Brumann Fischereiartikel</div>
      <div class="col-5">Webshop, Release 2</div>
    </div>
    <div class="row">
      <div class="col-2">2003</div>
      <div class="col-5"><strong>Kanton Thurgau</strong>, Amt für Volksschule</div>
      <div class="col-5">Corporate CMS, Release 1</div>
    </div>
    <div class="row">
      <div class="col-2">2003-2007</div>
      <div class="col-5"><strong>Keller Swiss Group AG</strong></div>
      <div class="col-5">Corporate Website, Release 2</div>
    </div>
    <div class="row">
      <div class="col-2">2003</div>
      <div class="col-5">Aussenräume</div>
      <div class="col-5">Corporate Website</div>
    </div>
    <div class="row">
      <div class="col-2">2003</div>
      <div class="col-5">Aestheticlink</div>
      <div class="col-5">Corporate Website</div>
    </div>
    <div class="row">
      <div class="col-2">2003</div>
      <div class="col-5">Propaganda AG</div>
      <div class="col-5">Printdesign</div>
    </div>
    <div class="row">
      <div class="col-2">2003</div>
      <div class="col-5">Cyberlink AG</div>
      <div class="col-5">UI Design</div>
    </div>
    <div class="row">
      <div class="col-2">2003</div>
      <div class="col-5">dai</div>
      <div class="col-5">CMS Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2003</div>
      <div class="col-5"><strong>Polymed Medical Center AG</strong></div>
      <div class="col-5">Intranet Webapplikation</div>
    </div>
    <div class="row">
      <div class="col-2">2003</div>
      <div class="col-5">Gailloud Asset Management AG</div>
      <div class="col-5">Corporate Website</div>
    </div>
    <div class="row">
      <div class="col-2">2003</div>
      <div class="col-5">Baeriswyl-Holzach</div>
      <div class="col-5">Corporate Website</div>
    </div>
    <div class="row">
      <div class="col-2">2003</div>
      <div class="col-5">112 töss 12</div>
      <div class="col-5">Webseite</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>2002</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5"><strong>Debrunner Koenig Holding (Debrunner Acifer)</strong></div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5">Kein und Aber</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2002-2004</div>
      <div class="col-5"><strong>Kanton Zürich</strong>, Volksschulamt</div>
      <div class="col-5">Corporate CMS, Release 1</div>
    </div>
    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5">Schröder & Partner AG</div>
      <div class="col-5">Corporate Website, Release 2</div>
    </div>
    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5">Trendix AG</div>
      <div class="col-5">Corporate Website</div>
    </div>
    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5">Pharmapart / <strong>AstraZeneca AG</strong></div>
      <div class="col-5">Website</div>
    </div>
    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5">Spark Design</div>
      <div class="col-5">Website</div>
    </div>
    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5">Propaganda Zürich AG</div>
      <div class="col-5">Corporate Design, Webdesign, Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5">SN Handels AG</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5">ONE Group</div>
      <div class="col-5">Corporate CMS, Release 1</div>
    </div>

    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5"><strong>Satis Vacuum AG</strong></div>
      <div class="col-5">Produktedatenbank</div>
    </div>
    <div class="row">
      <div class="col-2">2002-2003</div>
      <div class="col-5">dai</div>
      <div class="col-5">Corporate Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5">Fratelli Triacca AG</div>
      <div class="col-5">Webshop / E-Commerce Plattform</div>
    </div>
    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5">Klinik Tiefenbrunnen</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5">Swisscontracting</div>
      <div class="col-5">Corporate CMS</div>
    </div>
    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5">Brigiotte Roux</div>
      <div class="col-5">Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5">Woc - Speedup</div>
      <div class="col-5">Webdesign</div>
    </div>
    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5"><strong>Keller Swiss Group AG</strong></div>
      <div class="col-5">Produktewebseite</div>
    </div>
    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5">intouch</div>
      <div class="col-5">Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5"><strong>Konferenz der Lehrerweiterbildung SKLWB</strong></div>
      <div class="col-5">Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2002</div>
      <div class="col-5">Haute</div>
      <div class="col-5">Webseite</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>2001</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">2001</div>
      <div class="col-5"><strong>D&A Metall AG (Debrunner Acifer)</strong></div>
      <div class="col-5">Corporate Website</div>
    </div>
    <div class="row">
      <div class="col-2">2001</div>
      <div class="col-5"><strong>Kanton Zürich</strong>, Baudirektion</div>
      <div class="col-5">Online Game</div>
    </div>
    <div class="row">
      <div class="col-2">2001</div>
      <div class="col-5"><strong>Satis Vacuum AG</strong></div>
      <div class="col-5">B2B Webshop</div>
    </div>
    <div class="row">
      <div class="col-2">2001</div>
      <div class="col-5">Cyberlink AG</div>
      <div class="col-5">UI Design</div>
    </div>
    <div class="row">
      <div class="col-2">2001</div>
      <div class="col-5"><strong>Satis Vacuum AG</strong></div>
      <div class="col-5">Corporate Website, Release 2</div>
    </div>
    <div class="row">
      <div class="col-2">2001</div>
      <div class="col-5">Fratelli Triacca AG</div>
      <div class="col-5">Corporate Website, Release 1</div>
    </div>
    <div class="row">
      <div class="col-2">2001</div>
      <div class="col-5">Brumann Fischereiartikel</div>
      <div class="col-5">Corporate Website, Release 1</div>
    </div>
    <div class="row">
      <div class="col-2">2001</div>
      <div class="col-5">Any Web AG</div>
      <div class="col-5">Corporate Website</div>
    </div>
    <div class="row">
      <div class="col-2">2001</div>
      <div class="col-5">BD-Werkzeugtechnik AG</div>
      <div class="col-5">Corporate Website</div>
    </div>
    <div class="row">
      <div class="col-2">2001</div>
      <div class="col-5">Pharmapart</div>
      <div class="col-5">Corporate Website</div>
    </div>
    <div class="row">
      <div class="col-2">2001-2002</div>
      <div class="col-5"><strong>Kanton Zürich</strong>, Volksschulamt</div>
      <div class="col-5">Corporate Website</div>
    </div>
    <div class="row">
      <div class="col-2">2001</div>
      <div class="col-5">Android Ventures Ldt.</div>
      <div class="col-5">Corporate Website</div>
    </div>
    <div class="row">
      <div class="col-2">2001</div>
      <div class="col-5"><strong>Coutts Bank Ltd.</strong></div>
      <div class="col-5">Design, Screensaver</div>
    </div>
    <div class="row">
      <div class="col-2">2001</div>
      <div class="col-5">Swisscontracting</div>
      <div class="col-5">Corporate Website, Release 1</div>
    </div>
    <div class="row">
      <div class="col-2">2001</div>
      <div class="col-5">Baltis BSW</div>
      <div class="col-5">Corporate Website</div>
    </div>
    <div class="row">
      <div class="col-2">2001</div>
      <div class="col-5">Global Biomedical Partners Ltd.</div>
      <div class="col-5">Corporate Website</div>
    </div>
    <div class="row">
      <div class="col-2">2001</div>
      <div class="col-5">Klinik Tiefenbrunnen</div>
      <div class="col-5">Corporate Website, Release 1</div>
    </div>
    <div class="row">
      <div class="col-2">2001</div>
      <div class="col-5">Gangart</div>
      <div class="col-5">Corporate Website</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>2000</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">2000</div>
      <div class="col-5"><strong>Koenig Feinstahl AG (Debrunner Acifer)</strong></div>
      <div class="col-5">Corporate Website, E-Commerce Plattform</div>
    </div>
    <div class="row">
      <div class="col-2">2000</div>
      <div class="col-5">Filmfluss</div>
      <div class="col-5">Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2000</div>
      <div class="col-5"><strong>Kanton Zürich</strong>, Volksschulamt</div>
      <div class="col-5">Online Learning Plattform</div>
    </div>
    <div class="row">
      <div class="col-2">2000</div>
      <div class="col-5"><strong>PostFinance / Die Post</strong></div>
      <div class="col-5">E-Commerce Plattform, Ticket Ordering System</div>
    </div>
    <div class="row">
      <div class="col-2">2000</div>
      <div class="col-5">invest.ch</div>
      <div class="col-5">Webdesign, UI Design</div>
    </div>
    <div class="row">
      <div class="col-2">2000</div>
      <div class="col-5"><strong>A&A Actienbank AG</strong></div>
      <div class="col-5">Corporate Website</div>
    </div>
    <div class="row">
      <div class="col-2">2000</div>
      <div class="col-5"><strong>IHAG Holding AG / Privatbank IHAG</strong></div>
      <div class="col-5">Corporate Website</div>
    </div>
    <div class="row">
      <div class="col-2">2000</div>
      <div class="col-5">EscherTec AG</div>
      <div class="col-5">Corporate Website</div>
    </div>
    <div class="row">
      <div class="col-2">2000-2003</div>
      <div class="col-5"><strong>Keller Swiss Group AG</strong></div>
      <div class="col-5">Corporate Website, Release 1</div>
    </div>
    <div class="row">
      <div class="col-2">2000</div>
      <div class="col-5">Cyberlink AG</div>
      <div class="col-5">Corporate Website</div>
    </div>
    <div class="row">
      <div class="col-2">2000</div>
      <div class="col-5">Oliver Furrer</div>
      <div class="col-5">Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2000</div>
      <div class="col-5">Orange Cinema</div>
      <div class="col-5">Voting-System Webapplikation</div>
    </div>
    <div class="row">
      <div class="col-2">2000</div>
      <div class="col-5">Schröder & Partner AG</div>
      <div class="col-5">Corporate Website, Release 1</div>
    </div>
    <div class="row">
      <div class="col-2">2000</div>
      <div class="col-5">Specken-Drumag Gruppe</div>
      <div class="col-5">Corporate Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">2000</div>
      <div class="col-5"><strong>Debrunner Koenig Holding (Debrunner Acifer)</strong></div>
      <div class="col-5">Corporate Webseite Region DACH, Release 1</div>
    </div>
    <div class="row">
      <div class="col-2">2000</div>
      <div class="col-5">Trespass</div>
      <div class="col-5">Webseite für online Musikmagazin</div>
    </div>
    <div class="row">
      <div class="col-2">2000</div>
      <div class="col-5">Uferzone</div>
      <div class="col-5">Vereinswebsite</div>
    </div>
    <div class="row">
      <div class="col-2">2000</div>
      <div class="col-5"><strong>ETH Zürich</strong></div>
      <div class="col-5">Webseite für internationale Konferenz</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>1999</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">1999</div>
      <div class="col-5"><strong>Satis Vacuum</strong></div>
      <div class="col-5">Corporate Webseite, Release 1</div>
    </div>
    <div class="row">
      <div class="col-2">1999</div>
      <div class="col-5">Scalo Bücherladen</div>
      <div class="col-5">online Shop für Bücher</div>
    </div>
    <div class="row">
      <div class="col-2">1999</div>
      <div class="col-5">Falcos Finanz AG</div>
      <div class="col-5">Corporate Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">1999</div>
      <div class="col-5">IC Information Company</div>
      <div class="col-5">Corporate Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">1999</div>
      <div class="col-5"><strong>Alusuisse</strong></div>
      <div class="col-5">Websites für Thermoplastics und Composites</div>
    </div>
    <div class="row">
      <div class="col-2">1999</div>
      <div class="col-5">Heierli Rechtsanwälte</div>
      <div class="col-5">Corporate Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">1999</div>
      <div class="col-5">Philip Morris Openair Kino</div>
      <div class="col-5">Websites für Zürich, Bern und Basel</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>1998</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">1998</div>
      <div class="col-5">indivisual3D</div>
      <div class="col-5">Corporate Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">1998</div>
      <div class="col-5">Creanova</div>
      <div class="col-5">Corporate Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">1998</div>
      <div class="col-5">Sulzer Innotec</div>
      <div class="col-5">Entwicklung Key Visuals</div>
    </div>
    <div class="row">
      <div class="col-2">1998</div>
      <div class="col-5"><strong>UBS AG</strong></div>
      <div class="col-5">interaktives online Game</div>
    </div>
    <div class="row">
      <div class="col-2">1998</div>
      <div class="col-5"><strong>ETH Zürich</strong></div>
      <div class="col-5">Webseite Institut für Leichtbau</div>
    </div>
    <div class="row">
      <div class="col-2">1998</div>
      <div class="col-5"><strong>Personalverband der Bundesverwaltung</strong></div>
      <div class="col-5">Corporate Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">1998</div>
      <div class="col-5"><strong>Schweizerische Rettungsflugwacht Rega</strong></div>
      <div class="col-5">interaktives online Game</div>
    </div>
    <div class="row">
      <div class="col-2">1998</div>
      <div class="col-5">Philip Morris Openair Kino</div>
      <div class="col-5">Websites für Zürich, Bern und Basel</div>
    </div>
    <div class="row">
      <div class="col-2">1998</div>
      <div class="col-5">P. Zihlmann Investment</div>
      <div class="col-5">Corporate Webseite</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>1997</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">1997</div>
      <div class="col-5">Frei Patentanwaltsbüro</div>
      <div class="col-5">Corporate Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">1997</div>
      <div class="col-5">Lindenport</div>
      <div class="col-5">Corporate Webseite</div>
    </div>

    <div class="row year hide-on-tablet hide-on-desktop">
      <div class="col-12">
        <h3>1996</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">1996</div>
      <div class="col-5">ACTMP</div>
      <div class="col-5">Corporate Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">1996</div>
      <div class="col-5">Ignoform</div>
      <div class="col-5">Corporate Webseite</div>
    </div>
    <div class="row">
      <div class="col-2">1996</div>
      <div class="col-5"><strong>ETH Zürich</strong></div>
      <div class="col-5">Webseite für Forschungsarbeiten</div>
    </div>

  </div>

</div>

{{ partial "structure-bottom" . }}
</body>
{{partial "javascript" . }}
</html>