<!doctype html>
<html lang="de">
    {{ partial "head-single" . }}
    {{ partial "body" . }}
        <div class="wrapper">

            {{ partial "header" . }}

            <div class="container main">
                <div class="project">
                    <article>
                        {{ if .Params.image }}
                            <img class="overflow" src="{{ .Params.image }}">
                        {{ end }}

                        <div class="icons bigger text-center">
                            {{ if eq .Params.concept true }}
                                {{ partial "icon" (dict "context" . "icon" "bulb") }}
                            {{ end }}
                            {{ if eq .Params.planning true }}
                                {{ partial "icon" (dict "context" . "icon" "ruler") }}
                            {{ end }}
                            {{ if eq .Params.implementation true }}
                                {{ partial "icon" (dict "context" . "icon" "saw") }}
                            {{ end }}
                        </div>
                        <div class="clear"></div>

                        {{ partial "link-prev-next" . }}

                        <h1>{{ .Title }}</h1>

                        {{ if .Params.teaser }}
                        <h4 class="text-center">{{ .Params.teaser }}</h4>
                        {{ end }}

                        <article class="text-center">
                            {{ .Content }}
                        </article>

                        {{ if .Params.reference }}
                        <h2>Link</h2>
                        <a href="{{ .Params.customerUrl }}" rel="noopener" target="_blank">{{ .Params.customerName }}</a>
                        {{ end }}

                        <div class="cont">
							<div class="page-head">
								<div class="demo-gallery">
							    {{ if .Params.projectpictures }}
								<ul id="lightgallery">
								  {{ range .Params.projectpictures }}
							      <li data-responsive="#" data-src="{{ . }}">
							        <a href="#">
							          <img src="{{ . }}">
							          <div class="demo-gallery-poster">
							            <img src="./zoom.png">
							          </div>
							        </a>
							      </li>
								  {{ end }}
							    </ul>
							    {{ end }}
							  </div>
							</div>
                        </div>
                    </article>

                </div>
            </div>

            {{ partial "footer" . }}

        </div>
    </body>
    {{ partial "javascript" . }}
</html>