<!doctype html>
<html lang="de">
    {{ partial "head-single" . }}
    {{ partial "body" . }}
        <div class="wrapper">

            {{ partial "header" . }}

            <div class="container">
                <div class="project">

                    {{ partial "link-prev-next" . }}

                    <h1 class="has-prev-next">{{ .Title }}</h1>

                    {{ if .Params.teaser }}
                    <h4>{{ .Params.teaser }}</h4>
                    {{ end }}

                    <div class="icons bigger text-center">
                        {{ if eq .Params.concept true }}
                            {{ partial "icon" (dict "context" . "icon" "bulb") }}
                        {{ end }}
                        {{ if eq .Params.planning true }}
                            {{ partial "icon" (dict "context" . "icon" "ruler") }}
                        {{ end }}
                        {{ if eq .Params.implementation true }}
                            {{ partial "icon" (dict "context" . "icon" "saw") }}
                        {{ end }}
                    </div>

                    <article>
                        {{ .Content }}
                    </article>

                    {{ if .Params.reference }}
                    <h2>Link</h2>
                    <a href="{{ .Params.reference }}" rel="noopener" target="_blank">{{ .Params.reference }}</a>
                    {{ end }}

                </div>
            </div>

            {{ partial "footer" . }}

        </div>
    </body>
    {{partial "javascript" . }}
</html>