<!doctype html>
{{ partial "head-3dimensional" }}
<html lang="de">
{{ partial "head-site" . }}
{{ partial "body" . }}
<div class="wrapper">
  {{ partial "header" . }}

  <div class="team gray">
    <div class="stripe">
      <div class="container">
        <div class="cards">
          {{  range (.Data.Pages.ByParam "position") }}
           {{ if .Params.active }}
              {{ .Render "card"}}
            {{ end }}
          {{ end }}
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div class="stripe">
      <div class="container">
        <article>
          {{ .Content }}
        </article>
      </div>
    </div>
  </div>

  {{ partial "footer" . }}
</div>
</body>
{{ partial "schema/global" . }}
{{ partial "javascript" . }}
</html>