<!doctype html>
{{ partial "head-3dimensional" }}
<html lang="de">
  {{ partial "head-site" . }}
  <body id="root">
    {{ partial "header" . }}

    <div class="container">
      <article>
        {{ .Content }}
      </article>

      <div class="cards">
        <div class="cards-sizer"></div>
        {{  range (.Data.Pages.ByParam "position") }}
        {{ if .Params.active }}
        {{ .Render "card"}}
        {{ end }}
        {{ end }}
      </div>
    </div>
    {{ partial "footer" . }}
  </body>
{{ partial "schema/global" . }}
{{ partial "javascript" . }}
</html>