<!doctype html>
<html lang="de">
  {{partial "head-site" . }}
  <body id="root">
  {{ partial "header" . }}

  <div class="team">
    <article>
      {{ .Content }}
    </article>

    <a name="team"></a>
    <h2 class="mainheading">Team</h2>

    <div class="cards">
      <div class="cards-sizer"></div>
      {{  range (.Data.Pages.ByParam "position") }}
        {{ if .Params.active }}
          {{ .Render "card"}}
        {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="clear"></div>

  {{ partial "footer" . }}
</body>
{{partial "javascript" . }}
</html>