<!doctype html>
<html lang="de">
{{ partial "head-single" . }}
<body id="root">
    {{ partial "header" . }}

    <div class="team">

        {{ partial "link-prev-next" . }}

        <h1>
            {{ .Title }}<br>
            <small>
                {{ .Params.function }}
            </small>
        </h1>

        {{ if .Params.image }}
            <img src="{{ .Params.image }}" alt="Bild {{ .Title }}" class="overflow">
        {{ end }}

        <article>
            {{ .Content }}
        </article>

		<div>
            {{ if .Params.email }}
            <a href="mailto:{{ .Params.email }}" rel="noopener" class="nowrap"><br/>
                {{ .Params.email }}</a>
            {{ end }}
			<br/>
            {{ if .Params.phone }}
            <a href="tel:{{ .Params.phone }}" rel="noopener" class="nowrap">
                {{ .Params.phone }}</a>
            {{ end }}
			<br/>

            {{ if .Params.linkedin }}
            <a href="{{ .Params.linkedin }}" rel="noopener" target="_blank" class="nowrap">
                LinkedIn</a>
            {{ end }}

            {{ if .Params.web }}
                {{ range $index, $url := .Params.web }}
                <a href="{{ $url }}" rel="noopener" target="_blank" class="nowrap">
                    Web {{ add 1 $index }}</a>
                {{ end }}
            {{ end }}
        </div>

    </div>

    {{ partial "footer" . }}
</body>
{{partial "javascript" . }}
</html>