<!doctype html>
<html lang="de">
    {{ partial "head-single" . }}
    {{ partial "body" . }}
    <div class="wrapper">
        {{ partial "header" . }}

        <div class="stripe">
            <div class="container">
                <article>
                    {{ if .Params.image }}
                        <img src="{{ .Params.image }}-/scale_crop/1600x1200/center/" alt="Bild {{ .Title }}" class="overflow staffimage">
                    {{ end }}

                    {{ partial "link-prev-next" . }}

                    <h1 class="has-nav">{{ .Title }}</h1>

                    <p class="text-center">{{ .Params.function }}</p>


                    {{ if .Params.quote }}
                    <h4 class="text-center">" {{ .Params.quote }} "</h4>
                    {{ end }}

                    <article>
                        {{ .Content }}
                    </article>

                    <div>
                        {{ if .Params.email }}
                        <a href="mailto:{{ .Params.email }}" rel="noopener" class="nowrap"><br/>
                            {{ .Params.email }}</a>
                        {{ end }}
                        <br/>
                        {{ if .Params.phone }}
                        <a href="tel:{{ .Params.phone }}" rel="noopener" class="nowrap">
                            {{ .Params.phone }}</a>
                        {{ end }}
                        <br/>
                    </div>
                </article>
            </div>
        </div>

        {{ partial "footer" . }}
    </div>
</body>
{{partial "javascript" . }}
</html>